body {
  background-color: #534d7e;
}

.home-nav {
  width: 500px;
  height: 100px;
  margin: 0 auto !important;
}

.button {
  margin-bottom: 25px !important;
}


p {
  width: 50%;
  display: inline-block;
}

.ui .form {
  width: 100%;
}
